{% extends 'base.html' %}

{% block title %} Edit user {% endblock %}

{% block content %}
  <h1>Edit a user</h1>
  <form action="" method="POST">
    <label for="first-name">First Name</label>
    <input type="text" name="first-name" value={{user_details.first_name}}>
    <br>
    <label for="last-name">Last Name</label>
    <input type="text" name="last-name" value={{user_details.last_name}}>
    <br>
    <label for="image-url">Image Url</label>
    <input type="text" name="image-url" value={{user_details.image_url}}>
    <br>
    <button class="btn btn-success">Save</button>
    <a href="/users/{{user_details.id}}"class="btn">Cancel</a>
  </form>
 
{% endblock %}