{% extends 'base.html' %}

{% block title %} Users {% endblock %}

{% block content %}
  <div class="container">
    <h1>{{post_details.title}}</h1>
    <p>{{ post_details.content }}</p>
    <div>By {{post_details.users.first_name}}</div>
    <div class="row">
      <div class="col-sm-1">
        <a class="btn btn-outline-primary" href="/users/{{post_details.users.id}}">Cancel</a>
      </div>
      <div class="col-sm-1">
        <a class="btn btn-primary" href="/posts/{{post_details.id}}/edit">Edit</a>
      </div>
      <div class="col-sm-1">
        <form action="/posts/{{post_details.users.id}}/delete" method="POST">
          <button class="btn btn-danger">Delete</button>
        </div>
        </form>
    </div>
  </div>
{% endblock %}