{% extends 'base.html' %}

{% block title %} Users {% endblock %}

{% block content %}
  <div class="row">
      <div class="col-sm-3">
          <img src={{user_details.image_url}} alt="" class="img-thumbnail">
      </div>
      <div class="col-sm-5">
          <div class="row">
              <div class="col-sm-12">
                  <h1 class="ml-auto mr-auto">{{user_details.first_name}} {{user_details.last_name}}</h1>
              </div>
          </div>
      <div class="row">
          <div class="col-sm-2">
              <a href="/user/{{user_details.id}}/edit" class="btn btn-outline-primary">Edit</a>
          </div>
          <div class="col-sm-2">
              <form action="/user/{{user_details.id}}/delete" method="POST">
                <button class="btn btn-danger">Delete</button>
              </form>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-2">
            <h2>Posts</h2>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <ul>
            {% if user_posts %}
                {% for post in user_posts %}
                    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
                {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
        <!-- <form action="/users/{{user_details.id}}/posts/new" method="POST">
            <button class="btn btn-primary">Add Post</button>
        </form> -->
        <div class="row">
          <div class="col-sm-4">
            <a class="btn btn-primary" href="/users/{{user_details.id}}/posts/new">Add Post</a>
          </div>
      </div>
    </div>
  
{% endblock %}